.btn h6 {
    color: #ffff;
    font-size: 14px;
    width: 154px;
    align-items: center;
    text-transform: uppercase;
  }

  .btn-secondary {
    margin-top: 20px;
    background-color: #00285f;
    align-items: center;
    width: 184px;
    justify-content: space-around;
    height: 40px;
  }

