  .principal{
    margin-top: 20px;
    background-color: #00285f;
    align-items: center;
    width: 184px;
    border-radius: 5px;
    height: 40px;
  }

  .principal h6 {
    color: #ffff;
    font-size: 14px;
    width: 170px;
    align-items: center;
    text-transform: uppercase;
  }

 