.btn h6 {
    color: #ffff;
    font-size: 14px;
    width: 80px;
    align-items: center;
    text-transform: uppercase;
  }

  .btn-secondary {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #00285f;
    align-items: center;
    justify-content: space-around;
    width: 90px;
    height: 40px;
    padding: 10px 10px 20px 5px;
  }

