
.top-container {
  display: flex;
  align-items: center;
  background-color: #EDEDED;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  height: 86px;
}

.top-container textarea {
  background-color: #ffff;
  color:#A7A7A7;
  height: 40px;
  padding: 10px 20px 24px 20px;
  margin-left: 20px;
}
