
.top-container {
  display: flex;
  align-items: center;
  background-color: #EDEDED;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 86px;
}

.top-container textarea {
  align-items: center;
  background-color: #ffff;
  border-color: #ffff;
  border-radius: 5px;
  color:#A7A7A7;
  height: 40px;
  overflow:hidden;
  padding: 10px 20px 24px 20px;
  margin-left: 20px;
  width: 300px;
}

@media (min-width: 576px) {
  .top-container  {
    margin-left: 50px;
    margin-right: 50px;
  }
  .top-container textarea  {
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    width: 400px;
  }
  
}

@media (min-width: 768px) {
  .top-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 992px) {
  .top-container {
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (min-width: 1200px) {

  .top-container textarea  {
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    margin-left: 30px;
    width: 600px;
  }
  .top-container  {
    margin-left: 300px;
    margin-right: 300px;
  }
}